.form-inline{
    display: inline;
}
.table-li{
    list-style:none;
    display:inline-block;
}.table-li > div[data-col^='inline']{
     border:1px solid #000;
     padding:.2em 1em;
     margin-left:-4px;
 }
 button[data-button^="small"]{
     background: none;
     border: none;
     margin: 0;
     padding: 0;
 }
button[data-button^="small"]:focus{
    outline: none;
}
button[data-button^="small"]>i{
    font-size: 1em;
    padding: 0;
    margin: 0;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table, th, td{
    border: 1px solid black;
}
td, th{
    width: 16.6%;
}
td>p{
    font-size: .7em;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}